<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @app.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @app.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>App type:</strong>
  <%= @app.app_type %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
